<div class="page-header">
  <% if current_user %>
    <%= link_to new_bookmark_path, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-plus"></span>
      New Bookmark
    <% end %>

    <% unless params[:mine] %>
      <%= link_to bookmarks_path(mine: true), class: 'btn btn-default' do %>
        Mine
      <% end %>
    <% else %>
      <%= link_to bookmarks_path, class: 'btn btn-default' do %>
        All
      <% end %>
    <% end %>
  <% end %>
  <h1>Listing Bookmarks</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>User</th>
        <th>Url</th>
        <th>Title</th>
        <th>Description</th>
        <th></th>
        <% if current_user %>
          <th></th>
          <th></th>
          <th>Fav?</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <%= content_tag_for(:tr, @bookmarks) do |bookmark| %>
        <td><%= bookmark.user.try(:name) %></td>
        <td><%= bookmark.url %></td>
        <td><%= bookmark.title %></td>
        <td><%= bookmark.description %></td>
        <td><%= link_to 'Show', bookmark %></td>
        <% if current_user %>
          <% if bookmark.user == current_user %>
            <td><%= link_to 'Edit', edit_bookmark_path(bookmark) %></td>
            <td><%= link_to 'Destroy', bookmark, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% else %>
            <td></td>
            <td></td>
          <% end %>
          <td>
            <% if current_user.favorite_bookmarks.include?(bookmark) %>
              <%= link_to favorite_bookmark_path(bookmark), method: 'delete' do %>
                <span class="glyphicon glyphicon-heart"></span>
              <% end %>
            <% else %>
              <%= link_to favorite_bookmark_path(bookmark), method: 'put' do %>
                <span class="glyphicon glyphicon-heart-empty"></span>
              <% end %>
            <% end %>
          </td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

