<div class="page-header">
  <%= link_to bookmarks_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <% if current_user %>
    <%= link_to edit_bookmark_path(@bookmark), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Edit
    <% end %>
  <% end %>
  <h1>Show Bookmark</h1>
</div>

<dl class="dl-horizontal">
  <dt>User:</dt>
  <dd><%= @bookmark.user.try(:email) %></dd>

  <dt>Url:</dt>
  <dd><%= @bookmark.url %></dd>

  <dt>Title:</dt>
  <dd><%= @bookmark.title %></dd>

  <dt>Description:</dt>
  <dd><%= @bookmark.description %></dd>
</dl>
