<h3>Comments</h3>

<table class="table">
  <tbody>
    <%- commentable.comments.each do |comment| %>
      <tr>
        <td>
          <%= comment.user.name %>
        </td>
        <td>
          <%= comment.body %>
        </td>
        <td>
          <%= comment.created_at.to_formatted_s(:long_ordinal) %>
        </td>
      </tr>
    <%- end %>
  </tbody>
</table>

<%= form_for(commentable.comments.new, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <%= f.hidden_field :commentable_type %>
  <%= f.hidden_field :commentable_id %>

  <div class="form-group">
    <%= f.label :body, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :body, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
